# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*
!.env.example

# Jupyter Notebook
.ipynb_checkpoints/

# Logs & temp files
*.log
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
.idea

# Data files (IMPORTANT)
# Ignore raw and large data files
# data/raw/*
# data/processed/*

# BUT keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Database files
*.db
*.sqlite3

# PySpark / big data artifacts
*.parquet
*.orc

# Cache
.cache/

# Secrets / keys
*.pem
*.key
*.crt


# Misc
coverage/
htmlcov/